.App {
  text-align: left;
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-titke {
  font-size: x-large;
}

.App-header {
  background-color: #060d33;
  height: 60px;
  padding: 4px;
  color: white;
}

.App-intro {
  font-size: large;
}

.version {
  font-size: x-small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hidden {
  color: red;
    display: none;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #094a82;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #3b8ba6;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #3ab2db;}

/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    border-top: none;
}

.tabhidden {
    display: none;
}


.error {
  color:orangered;
}
.success {
  color:limegreen;
}

.central {
  margin-top: 10px;
   display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

#box {
  margin-top: 10px;
  width : 100px;
  height: 20px;
  border: 2px solid black;
}

.dash {
  background-color: #060d33;
}

.white {
  color: white;
}

.panel {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1.05rem;
    color: #fff;
    background-color: #094a82;
    padding: 0.25em;
}

.strategyblue {
    color: #a8ddfd;
}

.boxOuter {
    box-sizing: border-box;
    background-color: #000044;
    border: 2px solid #fff;
    border-radius: 16px;
    width: 180px;
    height: 180px;
    margin: 10px;
    padding: 10px;
    float: left;
}
    
.boxy {
    box-sizing: border-box;
    background: #d43b47;
    border: 2px solid #ffffff;
    border-radius: 16px;
    width: 180px;
    height: 180px;
    margin: 10px;
    padding: 10px;
    float: left;
}

.draggable-list {
  background-color: pink;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
    
.list-item {
    box-sizing: border-box;
    border: 2px solid #ffffff;
    color: black;
    background-color: #8dd2e4;
    border: 1px dashed gray;
    height: 40px;
    margin: 10px;
    padding: 10px;
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}