.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}

.App-header {
  background-color: #060d33;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.version {
  font-size: x-small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hidden {
  color: red;
    display: none;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #094a82;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #3b8ba6;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #3ab2db;}

/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    border-top: none;
}

.tabhidden {
    display: none;
}


.error {
  color:orangered;
}
.success {
  color:limegreen;
}

.central {
  margin-top: 10px;
   display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

#box {
  margin-top: 10px;
  width : 100px;
  height: 20px;
  border: 2px solid black;
}

.dash {
  background-color: #060d33;
}

.white {
  color: white;
}

.panel {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1.05rem;
    color: #fff;
    background-color: #094a82;
    padding: 0.25em;
}

.strategyblue {
  color: #a8ddfd;
}